:root {
  --border: rgba(0, 0, 0, 0.2);
  --shadow: #000;
  --heading: rgba(255, 100, 0, 1);
  --main: #1d8f13;
  --text: #000;
  --textAlt: #fff;
  --inactive: rgba(0, 0, 0, 0.3);
  --background: #fff;

  --visitedURL: rgb(0, 0, 238);
}
