.parent {
	height: 100%;
}

.state {
	font-family: "Poppins";
	font-weight: 900;
	width: auto;
	position: absolute;
	right: 112px;
	top: 20px;
	padding: 8px;
	text-align: center;
	font-size: 16px;
}

.logout {
	position: absolute;
	top: 20px;
	right: 20px;
	width: auto;
	height: auto;
}
